/* color palette from <https://github.com/vuejs/theme> */
@layer base {
  :root {
    --text: 236 80% 4%;
    --background: 210 20% 98%;
    --primary: 280 90% 70%;
    --secondary: 200 100% 50%;
    --accent: 237 62% 26%;
  }
  .dark {
    --text: 236 80% 96%;
    --background: 210 20% 2%;
    --primary: 280 90% 30%;
    --secondary: 200 100% 50%;
    --accent: 237 62% 74%;
  }
}
